extends ../base
block content
    if error
        small=error
    form(Method="POST", enctype="multipart/form-data")
        label(for="video") Video
        input(type="file", name="video", id="video", accept="video/*")
        input(name="title", placeholder="New Title", required, maxLength=20)
        input(name="description", placeholder="Description", required)
        input(name="hashtags", placeholder="HashTags (devided by `,`)", required)
        input(type="submit", value="Upload") 