doctype html
html(lang="ko")
    head 
        title  #{pageTitle} | Memory
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle       
        main
            div
                a(href="/") Home &nbsp &nbsp
                a(href="/videos/upload") Upload &nbsp &nbsp
                a(href="/search") Search &nbsp &nbsp
                a(href="/join") Join &nbsp &nbsp
                a(href="/login") Login
            br
            block content
        include partials/footer
        