extends base
block content
    if error
        h4=error
    form(method="post")
        input(name="oldPassword", type="password", placeholder="Old Password", minLength=8, required)
        input(name="newPassword", type="password" placeholder="New Password", minLength=8, required) 
        input(name="passwordConfirmation", type="password" placeholder="Confirmation Password", minLength=8, required)
        input(type="submit", value="Change")
