extends base
include mixins/video

block content
    a(href="/videos/upload") Upload
    br
    a(href="/search") Search
    br
    a(href="/join") Join
    h1 home
    each video in videos
        +video(video)
    else 
        li sorry noting found