extends base
block content
    if error
        h3=error
    form(method="POST")
        input(type="email", placeholder="Email", name="email", required)
        input(type="text", placeholder="Username", name="username", minLength=4, maxLength=12, required)
        input(type="password", placeholder="Password", name="password", minLength=8, required)
        input(type="password", placeholder="Confirmation", name="password2", minLength=8,required)
        input(type="submit", value="Join")
        br
        a(href="/users/github/start") Continue with Github &rarr;
        br
        a(href="/users/kakao/start") Continue with Kakao &rarr;
    div
        span Do you have an account? 
        a(href="/login") Login &rarr;