extends base
block content
    if error
        h3=error
    form(method="POST")
        input(type="text", placeholder="Username", name="username", minLength=4, maxLength=12, required)
        input(type="password", placeholder="Password", name="password", minLength=8, required)
        input(type="submit", value="Login")
        br
        a(href="/users/github/start") Continue with Github &rarr;
    div
        span Don't you have an account? 
        a(href="/join") Join &rarr;