extends ../base
block content
    div
        img(src=`/${user.avatarUrl}`, width="100", height="100")
        h4 EMAIL       #{user.email} 
        br
        h4 USER NAME   #{user.username} 
        br
        a(href="/users/editProfile") Edit Profile &rarr;